body {
    background-color: #476276;
    font-family: 'Catamaran', sans-serif;
}
.logo {
    width: 130px;
    padding: 15px;
}
@media screen and (min-width: 768px) {
    .hidden {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .topbar {
        display: none;
    }
}
.topbar {
    font-family: 'Cinzel', serif;
    color: #472827;
    font-size: 80%;
    padding-top: 15px;
}
.nav-pills {
    font-family: 'Catamaran', sans-serif;
    color: #472827;
}
.nav-pills .nav-link {
    margin-bottom: -21px;
    border: 0px;
}
.nav-pills .active {
    background-color:#476276 !important;
    color: lightgray !important;
    font-family: 'Catamaran', sans-serif;
    padding-left: 10px;
}
.footer {
    position: relative;
    width: 100vw;
    height: 45px;
    background-color: white;
    font-family: 'Cinzel', serif;
    font-size: xx-small;
    padding-left: 10px;
}
.socmed {
    width: 40px;
    padding-right: 10px;
}
/* testimonials */
.carousel {
    margin: 30px;
    max-width: 420px;
} 

li {
    padding: 10px;
}
/* about us */
.about {
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
}
.contact {
    padding: 20px;
    color: white;
    font-size: small;
}
.mailto {
    text-decoration: underline;
    color: aliceblue;
}
.mailto:hover {
    color: goldenrod;
}
.contact h5 {
    text-decoration: underline;
}
/* consultant */

.profile {
    margin: 30px 10px 10px 10px;
    padding: 5px;
    max-width: 150px;
    border-radius: 20px;
    border: solid white 3px;
}
.pdf {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 150px;
}
/* projects */
.proj {
    margin: 25px;
    padding: 10px;
    background-color: white;
    min-width: 240px;
}
.proj .cover {
    max-width: 220px;
    border: solid bisque 1px;
    margin: 10px 0px 10px 0px;
}
.modal-header, .modal-footer {
    background-color: #1FA2B8;
}
#lunchlearnLabel, #notableprojectsLabel, #ASLabel, #bookLabel, .close {
    font-family: 'Cinzel', serif;
    color: white;
}
.badge {
    margin-left: 10px;
}
.year {
    min-width: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: x-small;
    color: white;
    margin-left: 8px;
}
.note {
    font-family: 'Montserrat', sans-serif;

}
/* publication */
.publication {
    margin: 20px;
    border-radius: 20px;
    border: solid white 3px;
    max-width: 320px;
}
.publist {
    color: white;
}